:root {
  --cor-fundo: #35104A;
  --cor-destaque: #33B4C2;
  --cor-texto: #EAD8F4;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong {
  color: var(--cor-destaque);
}

a {
  color: var(--cor-destaque);
  font-size: 20px;
  text-decoration: none;
  background-color: #493152;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 14px;
}