:root {
  --cor-fundo: #000000;
  --cor-destaque: #FA160A;
  --cor-texto: #FA3D00;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong {
  color: var(--cor-destaque);
}

a {
  color: var(--cor-destaque);
  font-size: 20px;
  text-decoration: none;
  background-color: #2B3332;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 14px;
}